@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%)
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--Light-gray);
    font-family: 'Outfit';
    text-align: center;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--Dark-blue);
}

p {
    font-size: 15px;
    font-weight: 400;
    color: var(--Grayish-blue);
}

.box {
    width: 320px;
    padding: 15px;
    background-color: var(--White);
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    box-shadow: rgb(0, 0, 0, 0.10) 1px 1px 20px;
}

.box img {
    width: 100%;
    border-radius: 15px;
}

div.box-inner-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}